@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
}

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: 'Trajan';
  src: url('../fonts/trajan-pro-3.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaLt.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica-bold.otf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Tiny';
  src: url('../fonts/HelveticaLt.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Regular';
  src: url('../fonts/HelveticaThin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.flat-mask-hidden {
  display: none;
}
